body {
    background-color: lavenderblush;
    
}
.stuff {

    border-style: solid;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
    border-top: 10px:
    margin: 10px;
    padding: 10 px;

}